<p id="notice"><%= notice %></p>

<p>
  <strong>Dat:</strong>
  <%= @answer.dat %>
</p>

<p>
  <strong>Vote:</strong>
  <%= @answer.vote_id_id %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
