<p id="notice"><%= notice %></p>

<p>
  <strong>Anwsered:</strong>
  <%= @vote.anwsered %>
</p>

<p>
  <strong>Anwser:</strong>
  <%= @vote.anwser_id %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
