<!DOCTYPE html>
<html>
  <head>
    <title>Social Events APP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
      <a class="navbar-brand" href=<%= root_path %>>Events App</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href=<%= root_path %>>Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <%if user_signed_in? %>
              <%if current_user.profile == nil%>
                <a class="nav-link" href=<%= new_user_profiles_path(current_user) %>>Profiles</a>
              <%else %>
                <a class="nav-link" href=<%= current_user.profile %>>Profiles</a>
               <%end %>
             <%end %>
          </li>
          <li class="nav-item">
            <%if user_signed_in? %>
              <a class="nav-link " href=<%= events_url %>  role="button" >Events
              </a>
            <%end %>

          </li>
          <li class="nav-item">
            <%if user_signed_in? %>
              <a class="nav-link" href=<%= organizations_url %> >
                Organizations
              </a>
            <%end %>
          </li>


        </ul>
        <form class="form-inline my-2 my-lg-0" action="/search">
          <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> Search
          </button>
        </form>
        <span class="navbar-text mr-3">
          <%if current_user %>
            <%= link_to "Sing out" , destroy_user_session_path, method: :delete %>

          <%else %>
            <%= link_to "Sing in " , new_user_session_path %> |
            <%= link_to "Join us" , new_user_registration_path%>
          <%end %>
        </span>
      </div>
    </nav>
  </header>

  <div class="jumbotron">
    <main class="container">
      <% if notice.present? %>
        <div class="row ml-0 mt-3" role="alert">
          <div id="notice" class="alert alert-success"><%= notice %></div>
        </div>
      <% end %>
      <% if alert.present? %>
        <div class="row ml-0 mt-3" role="alert">
          <div id="alert" class="alert alert-danger"><%= alert %></div>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </div>

  <footer class="footer mt-auto py-3">
      <span class="text-muted">Final Demo<br>by Jose Tomas Anabalon</span>
  </footer>
  </body>
</html>
